body {
  background-image: url(../img/bg-nupelo.jpg);
}
header .container {
  position: relative;
}
header img {
  width: 100px;
}
header ul {
  padding: 15px 10px 0 0;
}
header li {
  list-style: none;
  display: inline-block;
}
header li:first-child {
  border: none;
}
header li a {
  display: block;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
header li a:visited {
  color: #000;
}
header li a:hover,
header li a:active {
  color: #4778b6;
  text-decoration: none;
}
.redes-sociais, .link-menu {
  display: none;
}
.redes-sociais-menu a {
  font-size: 14px;
  padding: 0;
}
nav {
  position: absolute;
  top: 35px;
  right: 15px;
}
.menu-fixo {
    background-color: #fff;
    position: fixed;
    z-index: 99;
    width:100%;
}